.roda_pe {
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;



}

.logo_footer{
    width: 100px !important;
    height: 75px !important;

}

.midiaSocial {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
}

.roda_pe img {
    width: 30px;
    height: 50px;
    padding: 10px;

}
.roda_pe h3{
     font-family: "Funnel Display", sans-serif;
     font-weight: 100;
     font-size: 40px;
}
.roda_pe span{
    color: #5D19CA;;
}